.advantages-subcontainer{
  padding: 4.5rem 0;
  border-top: 7px solid rgb(74, 74, 74);
  background-color: black;
}

.advantages-propositions{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 84%;
  border: 1ps solid white;
  margin: 0 auto;
}

@media screen and (min-width: 1280px){
.advantages-propositions {
    max-width: calc(83.33333333333334% - 6rem);
  }
}
.main-container{
  box-sizing: border-box;
}

.main-container-proposition-text,
.main-container-proposition-animation{
  width: 50%;
  height: auto;
  font-size: 1.5rem;
  max-width: 700px;
}

.main-container-proposition-text{
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-container-proposition-animation{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-animation-01{
   position: relative;
   z-index: 10;
}

.tv-main-img{
  margin: auto;
    max-width: calc(100% - 3rem);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: relative;
   width: 1400px;
   height: auto;
}

.main-tv-animation{
  position: absolute;
  top: 21%;
  left: 16%;
  z-index: 5;
}

.main-mobile-img,
.kids-img{
  transform: scale(1.1);
}

.concret-container-animation{
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  align-items: center;
  min-width: 15rem;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0,0,0);
  border-radius: 0.75rem;
  z-index: 1;
  transform: translateX(-50%);
  padding: .4rem;
  height: 107px;
  box-sizing: border-box;
}

.concret-container-animation-image-container{
  object-fit: cover;
  width: 60px;
  height: 80px;
}

.concret-container-img{
  height: 80px;
  width:57px;
  margin: 0 .5em;
}
.concret-container-animation-information{
  display: flex;
  flex-direction: column;
  width: 13rem;
  margin: 0 1em;
}

.main-icon-info-title{
  font-size: 16px;
}

.main-icon-info-load{
  font-size: 14px;
  color: #0071EB;
  text-align: left;
}

.main-conret-animation-icon{
  width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.device-pile{
  position: absolute;
  top: 0%;
  inline-size: fit-content;
  display: inline-block;
  vertical-align: baseline;
}

.tv-main-video{
  margin: auto;
    max-width: calc(100% - 3rem);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: relative;
   width: 100%;
   height: auto;
}

.device{
  position: relative;
  z-index: 20;
}

video{
  object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.center{
  text-align: center;
  margin-top: 0;
}

.tv-main-container-image{
  width: 100%;
  width: 690px;
  background-image: url('/img/main-img/tv.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position:relative;
  z-index: 7;
}

.main-tv-animation{
  position: absolute;
  top: 20%;
  left: 16%;
  z-index: 5;
}

.watch-anywhere-main-container-image{
  width: 100%;
  width: 750px;
  background-image: url('/img/main-img/device-pile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position:relative;
  z-index: 20;
}

.device-pile{
  position: absolute;
  top: 5%;
  left: 17%;
  inline-size: fit-content;
  display: inline-block;
  vertical-align: baseline;
  z-index:1;
}

@media(max-width: 1400px){
  .advantages-propositions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .main-container-proposition-text
{
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  max-width: 100%;
}

  .main-container-proposition-text h1
{
 text-align: center;
}
}




















 


